html {
    height: 100%;
}

body {
    background: #013b0eb0;
    background-size: cover;
    font-family: Lato;
    color: white;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 100%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 2);
}

#content {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 20em;
    width: auto;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5em;
    padding-right: 5em;
}

#nav-bar-items {
    display: inline;
}

#nav-bar-text {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.80em;
    font-size: 1.1em;
}

#nav-bar-text:hover:not(.active) {
    background-color: #58bd84
}

#game-card-title {
    margin-bottom: 1em;
    padding: 0.80em;
}

.active {
    color: #6de3a0 !important;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

#featuredGameBanner {
    margin-top: 1.5em;
    background-color: #302e2e;
    border-style: solid;
    border-color: #000000;
    border-radius: 1%;
    border-width: 1px;
}

.center {
    display: inline-block;
    position: relative;

}